/***header***/
.logo{
    width: 60px;
    height: 60px;
    margin-top: 30px;
    margin-left: 10px;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
h1{
    margin-left: -565px;
    margin-top: 45px;
    font-family: 'Ballet', cursive;
}
.search{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/***header***/

/***navigation***/
nav {
    position: fixed;
    overflow: hidden;
    margin-top: -20px;
    width: 100%;
    background-color:#F6DDCC;
}

#navigation {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
}

#navigation li:first-child{
    display: block;
}

#navigation li {
    display: none;
}
#navigation a:link, #navigation a:visited, #navigation a:hover, #navigation a:active, #navigation a:focus {
    display: block;
    padding: 0.75em;
    text-align: center;
    text-decoration:wavy;
    color:#909497;
    font-weight: bold;
    font-family: 'Lora', serif;
}

#navigation a:hover{
    color: white;
    background-color: black;
}
#navigation a:active{
    background-color: rgb(75, 64, 4);
}


#navigation.responsive li {
    display: block;
}

/***Navigation***/

/***Media Queries***/

@media (min-width: 376px) {
    
    nav {
        max-width: 100%;
    }  
    #navigation {
        grid-template-columns: repeat(7, auto);
    }
    #navigation li {
        display: block;
    }
    #navigation a:link, #navigation a:visited, #navigation a:hover, #navigation a:active, #navigation a:focus {
        text-align: center;
    }

    #navigation li:first-child{
        display: none;
    } 
}

@media only screen and (min-width: 769px){
   
    .temple{
        grid-template-columns: 1fr 1fr;
    }
    nav {
        max-width: 100%;
    }  
    #navigation {
        grid-template-columns: repeat(7, auto);
    }
    #navigation li {
        display: block;
    }
    #navigation a:link, #navigation a:visited, #navigation a:hover, #navigation a:active, #navigation a:focus {
        text-align: center;
    }

    #navigation li:first-child{
        display: none;
    }

}

/***Media Queries***/

/***main***/
.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 20px solid rgb(75, 64, 4);
    background: black;
    color: white;
    font-family:'Lora', serif; 
    content: center;
}
.info{
    padding-top: 150px;
    padding-left: 200px;
}
.img{
    width: 1500px;
    height: 300px;
}
h2{
    text-align: center;
    color: #909497;
}
.map{
    text-align: center;
}
/***main***/

/***footer***/
.stickyicon-list {   
    position: fixed;   
    top: 400px;   
    transform: translateY(-50%);             
}         
.stickyicon-list a {   
    display: block;   
    text-align: center;   
    padding: 8px;   
    transition: all 0.5s ease;   
    color: white;   
    font-size: 20px;   
}         
    /* HOver affect on sticky social media icons */   
.stickyicon-list a:hover {   
    color: #000;   
    width:10px;   
}   
                
.facebook {   
    background: #3b5998;   
    color: white;  
}         
.twitter {   
    color: white;   
    background: #00acee;   
}   
.linkedin {   
    background: #0e76a8;   
    color: white;   
}         
.google {   
    color: white;   
    background: #db4a39;   
}   
.instagram {   
    background: #3f729b;   
    color: white;   
}         
.youtube {   
    color: white;   
    background: #c4302b;    
} 
.footer, #lastupdated {
    text-align: center;
}

footer {
    background-color:#909497 ;
    text-align: center;
}  
/***footer***/